<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
<div class="alert alert-warning text-dark alert-dismissible show" role="alert">
  <%= error.msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% }); %> <% } %> <% if(success_msg != ''){ %>
<div
  style="
    background-color: green;
    color: #fff;
    padding: 1em;
    border-radius: 15px;
    font-weight: bold;
  "
  role="alert"
>
  <%= success_msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> <% if(error_msg != ''){ %>
<div
  style="
    background-color: red;
    color: #fff;
    padding: 1em;
    border-radius: 15px;
    font-weight: bold;
  "
  role="alert"
>
  <%= error_msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> <% if(error != ''){ %>
<div
  style="
    background-color: yellow;
    color: #000;
    padding: 1em;
    border-radius: 15px;
    font-weight: bold;
  "
  role="alert"
  role="alert"
>
  <%= error %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
