<script>
  $(".menu").click(function () {
    $("nav").slideToggle();
  });
</script>
<script>
  $(function () {
    $("#tabs").tabs();
  });
</script>

<div class="banner-area center">
  <div class="area">
    <div class="bodycontainer">
      <h1 class="tlt text-white" style="margin: 20px 0">
        USER <span class="text-default">LOGIN</span>
      </h1>
      <div class="banner-title">
        <span class="decor-equal"></span>
      </div>
      <div style="margin: 20px 0"><a href="/">HOME</a> / LOGIN</div>
    </div>
    <div id="particles-js">
      <canvas
        class="particles-js-canvas-el"
        width="413"
        height="287"
        style="width: 100%; height: 100%"
      ></canvas>
    </div>
  </div>
</div>
<div class="smallcontainer padding">
  <form action="/login" method="POST">
    <%-include("./partials/messages")%>
    <div class="title_container">
      <h4>Login Authentication</h4>
      <span class="decor_default"></span>
    </div>
    <input
      type="text"
      placeholder="Email"
      required=""
      name="email"
      value=""
      style="width: 100%"
      class="margintb round"
    />

    <input
      type="password"
      placeholder="Password"
      required=""
      name="password"
      style="width: 100%"
      class="margintb round"
    />
    <div class="row margintb">
      <a href="fpass" class="right">Forgot password?</a>
      <input type="checkbox" name="remember" value="1" id="label" /><label
        for="check"
      >
        Remember Me</label
      >
    </div>
    <input
      type="submit"
      name="submit"
      value="Login"
      class="btn round default"
    /><br /><br />
    <br /><br />
  </form>
</div>
<a
  href="#"
  id="back-to-top"
  class="back-to-top fa fa-arrow-up show-back-to-top"
></a>
<script>
  /*--window Scroll functions--*/
  $(window).on("scroll", function () {
    /*--show and hide scroll to top --*/
    var ScrollTop = $("#back-to-top");
    if ($(window).scrollTop() > 500) {
      ScrollTop.fadeIn(1000);
    } else {
      ScrollTop.fadeOut(1000);
    }
  });
</script>
<div class="footer_bg center">
  <div class="area">
    <div class="bodycontainer">
      <div style="z-index: 2; position: relative">
        <h2 class="margintb">GET STARTED TODAY WITH BITCOIN INVESTMENT</h2>
        <p class="margintb">
          Open account for free and start trading Bitcoins!
        </p>
        <a href="/start" class="btn">GET STARTED</a>
      </div>
    </div>
  </div>
</div>
