
    <div class="member_right">
    <br><br><br><br><br>
     <h4 align="center">Send your bitcoin deposit to the address below:</h4><br><br>
     <%-include("../partials/messages")%>
     <br>
     <br>
     <br>
    <center><img src="/qr.png" style="width: 200px; align: center;" alt="">
    </center>
    <div style="padding: 10px; margin-top: 1em;" align="center">
        <font color="yellow" size="6">
            <b>
                <strong> 
                    <input 
                        size="30%" 
                        type="text" 
                        value="bc1q3n8zng6q6d6ag576r4f30ul7zrzavzqenttgza" 
                        id="myInput" name="myInput" readonly=""
                    />         
                    <a href="#" onclick="myFunction()">
                        <i class="fa fa-copy" style="font-size:30px;color:white"></i>
                    </a>
                </strong>
            </b>
        </font>
    </div>
    <br><br>
    <h4 align="center">Contact support via live chat after payment is made!!!</h4><br><br>
    <br>
    <br><br>
    <font color="yellow" size="5">
        <marquee>Ensure to copy address properly to avoid payment error
        </marquee>
    </font>
    <br><br><br><br>
    </div><!--end column-70-->
    </div>
    </div>
    </div>
    
    <div class="contentBotContainer">
      <div class="contentBotInner">
        <div class="ctn-top-solid">
          <h1>btc network </h1>
          <h2> wallets: </h2>
          <div class="solid-top">
          <a href="https://www.coinbase.com/" class="solidTop1"></a> 
          <a href="https://blockchain.info/" class="solidTop2"></a>
          <a href="https://xapo.com/" class="solidTop3"></a>
          <a href="https://airbitz.co/" class="solidTop4"></a>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="ctn-bot-solid">
          <p>Market Cap: <span>$77829716960.00</span></p>
          <p>Hashrate: <span>7108353254.76</span></p>
          <p>Difficulty: <span>888171856257</span></p>
          <p>Total Blocks: <span>482882</span> </p>
          <p>Network Speed: <span>108.5 PH/s</span></p>
        </div>
      </div>
    </div>
    
   

    <script>
        function myFunction() {
          var copyText = document.getElementById("myInput");
          copyText.select();
          copyText.setSelectionRange(0, 99999)
          document.execCommand("copy");
          alert("Copied the text: " + copyText.value);
        }
    </script>