
    <div class="member_right">
    
    <h3 class="account_main">Referrals</h3>
        <div class="my_accont">
      <div class="account_overview_wrap">
            <div class="ctn-invesment-part ctn-invesment-part1"> <span class="imageblock"></span>
          <h4>0</h4>
          <p>REFERRALS</p>
        </div>
            <div class="ctn-invesment-part ctn-invesment-part2"> <span class="imageblock"></span>
          <h4>0</h4>
          <p>ACTIVE REFERRALS</p>
        </div>
            <div class="ctn-invesment-part ctn-invesment-part3"> <span class="imageblock"></span>
          <h4>$0.00</h4>
          <p>TOTAL REFERRALS</p>
        </div>
          </div>
    </div>
        <div class="clear"></div>
          
       </div><!--end column-70-->
    </div>
    
    <div class="contentBotContainer">
      <div class="contentBotInner">
        <div class="ctn-top-solid">
          <h1>btc network </h1>
          <h2> wallets: </h2>
          <div class="solid-top">
              <a href="https://www.coinbase.com/" class="solidTop1"></a> 
              <a href="https://blockchain.info/" class="solidTop2"></a>
              <a href="https://xapo.com/" class="solidTop3"></a>
              <a href="https://airbitz.co/" class="solidTop4"></a>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="ctn-bot-solid">
          <p>Market Cap: <span>$77829716960.00</span></p>
          <p>Hashrate: <span>7108353254.76</span></p>
          <p>Difficulty: <span>888171856257</span></p>
          <p>Total Blocks: <span>482882</span> </p>
          <p>Network Speed: <span>108.5 PH/s</span></p>
        </div>
      </div>
    </div>
    
    
   